.row.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adjust the margin as needed */
}
